@using Application.Models.Chat
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model List<UsersListViewModel>
@{
    ViewData["Title"] = "Add Chat";
}

@section Styles {
    <link rel="stylesheet" href="~/css/addChat.css">
}
@section Scripts {
    <script src="~/js/addChatSearch.js"></script>
}

<div class="page-container">
    <div class="card">
        @if (Model != null)
        {
            <div class="search-container">
                <h1>Search User</h1>
                <input type="text" id="username" placeholder="Enter username" onkeyup="filterUsers()"/>
            </div>
            <div class="results-container" id="results-container">
                @foreach (var username in Model)
                {
                    <div class="result-item">
                        <form asp-controller="Chat" asp-action="AddChat" method="post">
                            <button class="result-button" asp-route-id="@username.Id">@username.Login</button>
                        </form>
                    </div>
                }
            </div>
        }
        else
        {
            <h1>No users found</h1>
        }
    </div>
</div>