@model SignUpViewModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="register-container">
    <div class="register-box">
        <h2>Sign up</h2>
        <form asp-controller="Account" asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <label asp-for="Login">Login</label>
                <input asp-for="Login" type="text"/>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input asp-for="ConfirmPassword" type="password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit">Sign up</button>
        </form>
        <p class="login-text">
            Account already exist? <a aspc-controller="Account" asp-action="LogIn">Log in</a>
        </p>
    </div>
</div>